[submodule "vendor/PitTest"]
	path = vendor/PitTest
	url = https://github.com/Peanutt42/PitTest.git
[submodule "vendor/PitVulkano"]
	path = vendor/PitVulkano
	url = https://github.com/Peanutt42/PitVulkano.git
