# Binaries
**/bin/
bin-int/
Intermediates/
Engine-ScriptCore/Binary/
Engine-ScriptCore/Intermediates/
Sandbox/Scripts/Intermediates/

# Log files
*.log


InstanceLock.lock


# VS files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Random dir
JSON/