# Binaries
**/bin/
**/bin-int/
**/Binaries/
**/Intermediates/
Engine-ScriptCore/Binaries/
Engine-ScriptCore/Intermediates/
Sandbox/Scripts/Intermediates/

# Log files
*.log


InstanceLock.lock
imgui.ini


# VS files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Random dir
JSON/